#myGraph{
    width: 1000px;
    height: 500px;
    border: 1px solid gray;


}

#myGraph2{
    width: 1000px;
    height: 500px;
    border: 1px solid gray;


}

#myGraph3{
    width: 1700px;
    height: 500px;
    border: 1px solid gray;


}